:root {
    --primary: rgb(4, 48, 4);
    --secondary: rgb(250, 242, 219); 
    --tertiary: rgba(14, 59, 18, 0.267);
    --light: rgb(161, 154, 120);
    --dark: rgb(0, 0, 0);
    --headerFont: 'Merriweather', serif;
    --bodyFont: 'Handlee', cursive;
    --signiatureFont: 'Dancing Script', cursive;
}
body {
    display: flex;
    flex-direction: column;
    color: var(--black);
    background-color: var(--light);
    font-family: var(--bodyFont);
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    flex-direction: row;
    text-align: center;
    font-family: var(--headerFont);
}
#name {
    font-family: var(--headerFont);
    font-size: 56px;
    font-weight: bold;
    color: var(--secondary);
    padding-left: 30px;
}
#title {
    font-size: 32px;
    color: var(--secondary);
}
.navlinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 20px;
}
.links a {
    color: var(--secondary);
    margin-right: 20px;
    text-decoration: none;    
}
.links a:hover {
    color: var(--dark);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--tertiary);
    padding: 0
}
#profileImg {
    display: flex;
    height: 600px;
    width: 500px;
}
#bio {
    display: flex;
    font-size: 32px;
    margin: 10px;
    align-items: center;
    text-align: center;
    color: var(--dark);    
}